.untitled-design-11 {
  position: absolute;
  top: 0;
  left: 799px;
  width: 1179px;
  height: 1117px;
  object-fit: cover;
}
.er-1 {
  position: absolute;
  top: 439px;
  left: 1161px;
  width: 1053px;
  height: 1541px;
}
.about-us1,
.welcome-to-waterale3 {
  position: absolute;
  left: 137px;
  letter-spacing: 0.6px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.welcome-to-waterale3 {
  top: calc(50% - 143.5px);
  line-height: 55px;
  font-weight: 300;
  width: 628px;
  height: 582px;
  mix-blend-mode: normal;
}
.about-us1 {
  top: 274px;
  font-size: 65px;
  line-height: 45px;
  font-weight: 600;
  color: var(--color-midnightblue);
  width: 381px;
  height: 90px;
  -webkit-text-stroke: 1px #000;
}
.macbook-pro-16-2-child {
  position: absolute;
  top: 897px;
  left: 368px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.header-child6 {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 150px);
  left: -148px;
  background-color: var(--color-gray-100);
  filter: blur(170px);
  width: 1905px;
  height: 226px;
  z-index: 0;
}
.link-aquafina-logo-home-link14 {
  position: absolute;
  margin: 0 !important;
  top: 7px;
  left: calc(50% - 814.5px);
  width: 301px;
  height: 110px;
  object-fit: cover;
  z-index: 0;
}
.link-our12 {
  position: absolute;
  top: 60.27px;
  left: -63px;
  letter-spacing: 0.6px;
  line-height: 16px;
  font-weight: 600;
}
.link-product60,
.link-product61,
.link-product62,
.link-product63,
.link-product64 {
  position: absolute;
  top: 60px;
  left: 159px;
  letter-spacing: 0.6px;
  line-height: 16px;
  font-weight: 600;
  cursor: pointer;
}
.link-product61,
.link-product62,
.link-product63,
.link-product64 {
  left: 504px;
}
.link-product62,
.link-product63,
.link-product64 {
  left: 832px;
}
.link-product63,
.link-product64 {
  left: 686px;
}
.link-product64 {
  left: 320px;
}
.isolation-mode212 {
  position: absolute;
  top: 56px;
  left: calc(50% + 242px);
  width: 11px;
  height: 14px;
}
.nav-primary-navigation14 {
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 60px);
  left: 682px;
  width: 978px;
  height: 120px;
  z-index: 1;
}
.divcontain8,
.header8 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.divcontain8 {
  width: 1713px;
  padding: 0 var(--padding-23xl);
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  margin-left: -101px;
}
.header8 {
  position: absolute;
  width: calc(100% - 13px);
  top: calc(50% - 517.5px);
  right: -27px;
  left: 40px;
  background-color: var(--color-gray-300);
  height: 182px;
  padding: 0 var(--padding-60xl) 0 var(--padding-11xs);
  align-items: flex-start;
  justify-content: center;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
  font-family: var(--font-montserrat-alternates);
}
.macbook-pro-16-2 {
  position: relative;
  background-color: #f3fcff;
  width: 100%;
  height: 1117px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-darkslateblue-200);
  font-family: var(--font-montserrat);
}
